# Variables

- Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they donot need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

### Video Outline:

- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [2]:
# variable

a = 100
print(a)

100

In [4]:
# declaring and assigning variables

age = 32
height = 5.8
name = "Gurinderjeet"
is_student = True

print("Age: ", age)
print("Height: ", height)
print("Name: ", name)
print("Student: ", is_student)

Age:  32
Height:  5.8
Name:  Gurinderjeet
Student:  True

### Naming Convention Rules

- Variable names should be decriptive
- They must start with a letter or an underscore '_' and contains letter, numbers and underscores
- Variable names are case-sensitive

In [5]:
# Valid Variable Names

first_name = "Gurinderjeet"
last_name = "Kaur"

In [9]:
# Invalid Variable Names

# first-name = "Gurinderjeet"
# 2age = 30
# @name = "Kaur"

In [11]:
# case-sensitivity

name = "gurinderjeet"
Name = "Gurinderjeet Kaur"

print(name, Name)

gurinderjeet Gurinderjeet Kaur

## Understanding Variable Types

- Python is dynamically-typed, type of a variable is determined at runtime.

In [12]:
age = 25
height = 5.5
name = "Gurinderjeet"
is_student = True

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Type Checking and Conversion

- To convert one data type to another

In [14]:
age = 25
print(type(age))

# Type Conversion

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [15]:
age = '25'
int_age = int(age)
print(type(age))
print(type(int_age))

<class 'str'>
<class 'int'>

In [16]:
# ValueError

name = "Gurinderjeet"
int(name)

ValueError: invalid literal for int() with base 10: 'Gurinderjeet'

In [18]:
height = 5.8
print(type(height))

int(height)

<class 'float'>

5

## Dynamic Typing

- Python allows the type of a variable to change as the program executes.

In [21]:
var = 10 # int
print(var, type(var))

var = "Hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

## Input Function

In [22]:
age = input("Enter your age:")
print(age, type(age))

32 <class 'str'>

In [23]:
# Typecasting

age = int(input("Enter your age:"))
print(age, type(age))

32 <class 'int'>

## Calculator

In [25]:
# Enter inputs

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform operations

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

# Print Values
print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Quotient: ", quotient)

Sum:  19.0
Difference:  9.0
Product:  70.0
Quotient:  2.8