# Tuples

### Video Outline:

- Introduction to Tuples
- Creating Tuples
- Accessing Tuple Elements
- Tuple Operations
- Immutable Nature of Tuples
- Tuple Methods
- Packing and Unpacking Tuples
- Nested Tuples
- Practical Examples and Common Errors

### Tuples

- Tuples are ordered collections of items are immutable. They are similar to list, but their immutability makes them different.

In [1]:
# creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list() # create empty list
print(type(lst))

<class 'list'>

In [4]:
tpl = tuple() # create empty tuple
print(type(tpl))

<class 'tuple'>

In [5]:
numbers = tuple([1, 2, 3, 4, 5, 6])
numbers

(1, 2, 3, 4, 5, 6)

In [6]:
list((1, 2, 3, 4, 5, 6))

[1, 2, 3, 4, 5, 6]

In [7]:
mixed_tuple = (1, "Hello World", 3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [8]:
# Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [9]:
print(numbers[2])

3

In [10]:
print(numbers[-1])

6

In [11]:
print(numbers[0: 4])

(1, 2, 3, 4)

In [12]:
print(numbers[: : -1])

(6, 5, 4, 3, 2, 1)

In [13]:
print(numbers[: : 2])

(1, 3, 5)

In [15]:
# Tuple operations

print(numbers)
print(mixed_tuple)

(1, 2, 3, 4, 5, 6)
(1, 'Hello World', 3.14, True)

In [16]:
concatenated_tuple = numbers + mixed_tuple
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [17]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [19]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

- Tuples are immutable, meaning their elements cannot be changed once assigned.

In [20]:
# Immutable nature of tuples

lst = [1, 2, 3, 4, 5]
print(lst)

lst[1] = "Gurinderjeet"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Gurinderjeet', 3, 4, 5]

In [21]:
numbers[1] = "Gurinderjeet" # immutable

TypeError: 'tuple' object does not support item assignment

In [23]:
# Tuple methods

print(numbers)
print(numbers.count(1))

(1, 2, 3, 4, 5, 6)
1

In [24]:
print(numbers.index(3)) # at which index 3 is present, first occurence

2

In [25]:
# packing and unpacking tuple

# packing a tuple
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [27]:
# unpacking a tuple

a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [28]:
# unpacking with *

numbers = (1, 2, 3, 4, 5, 6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [29]:
# Nested Tuples

# Nested List
lst = [[1, 2, 3, 4], [6, 7, 8, 9], [1, "Hello", 3.14], "c"]

lst[0][2]

3

In [30]:
lst[0][0: 3] # slicing

[1, 2, 3]

In [33]:
# Tuple inside list
lst = [[1, 2, 3, 4], [6, 7, 8, 9], (1, "Hello", 3.14, "c")]

lst[0][2]
lst[2][0: 3]

(1, 'Hello', 3.14)

In [34]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))
                
# access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [35]:
# Iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end= " ")
    print()

1 2 3
a b c
True False

### Conclusion

- Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required.
- They are commonly used in data structures, function arguments and return values, and as dictionary keys. 
- Understanding how to leverage tuples effectively can improve the efficiency and readability of your python code.